@import 'mcdefault'
@import 'mcdefaultmq'

@import 'https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans+Condensed:300,700|Open+Sans:400,400i,800&subset=greek'

html
  background-color white
